@charset "UTF-8";

//-----------------------------------------------------
// project config
//-----------------------------------------------------

$useMobile				: true;
$useRemUnit				: false;
$btnDefaultOutput		: false;

$msgClassSwitch			: true true true true;
$msgIconSwitch			: true;




